<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.bluapp.viewsnippet">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_335cefe38e3c678493b08f809dac1e08d84975b9" />

        <activity android:name=".PaystackLibActivity"></activity>

        <activity android:name=".OnBoardingUiActivity" />
        <activity android:name=".StartConsultationActivity" />
        <activity android:name=".DocProfileActivity" />
        <activity android:name=".ExpansionPanelActivity3" />
        <activity android:name=".ViewActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

</manifest>